<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Become a member</title>
  </head>
  <body>
    <header>
      <div>
        <h1><i>The</i> Anon Club</h1>
        <ul>
          <li><a href="/messageboard">Message Board</a></li>
        </ul>
      </div>
    </header>
    <main>
      <h2>Become a member here!</h2>
      <p>You just need to know the <i>password</i>!</p>

      <form action="/newmessage" method="post">
        <label for="password">Enter the Secret Password</label>
        <input type="password" name="password" id="password" />

        <button type="submit">Submit</button>
      </form>
    </main>
  </body>
</html>
