<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Message</title>
  </head>
  <body>
    <header>
      <div>
        <h1><i>The</i> Anon Club</h1>
        <ul>
          <li><a href="/messageboard">Message Board</a></li>
          <li>
            <a href="/newmember">Become a <i>Member</i></a>
          </li>
        </ul>
      </div>
    </header>
    <main>
      <h2>Create your message here:</h2>

      <form action="/newmessage" method="post">
        <label for="title">Title:</label>
        <input type="text" name="title" id="title" required />

        <label for="message">Message:</label>
        <textarea name="message" id="message" rows="5"></textarea>
        <button type="submit">Create Message</button>
      </form>
    </main>
  </body>
</html>
