<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Message Board</title>
  </head>
  <body>
    <header>
      <div>
        <h1><i>The</i> Anon Club</h1>
        <ul>
          <li><a href="/newmessage">New Message</a></li>
          <li>
            <a href="">Become a <i>Member</i></a>
          </li>
        </ul>
      </div>
    </header>
    <main>
      <!--Populate the page with messages here -->

      <% if(messages.length === 0) {%>
      <p>No messages posted. Go ahead and post one!</p>
      <% } else { %>
      <div class="message-container">
        <% messages.forEach((message) => { %>
        <div class="message">
          <h2><%message.title %></h2>
          <p><%= message.message %></p>
          <% if(user && user.membership_status) { %>
          <p>Posted by:<%= user.first_name %> <%= user.last_name %></p>
          <sub style="display: block"><%= message.timestamp %></sub>
          <% }%> <% if(user.admin_status){ %>
          <button>Delete</button>
          <%} %> <% }) %> <% } %>
        </div>
      </div>
    </main>
  </body>
</html>
