<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log-in</title>
  </head>
  <body>
    <main>
      <h2>Welcome to <i>the</i> message board!</h2>

      <form action="" method="post">
        <label for="first-name">First Name:</label>
        <input type="text" name="first-name" id="first-name" required />

        <label for="last-name">Last name:</label>
        <input type="text" name="last-name" id="last-name" required />

        <label for="email">Username:</label>
        <input type="email" name="email" id="email" required />

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />

        <label for="confirm-password">Confirm Password:</label>
        <input
          type="password"
          name="confirm-password"
          id="confirm-password"
          required
        />

        <button type="submit">Log-in</button>
      </form>
    </main>
  </body>
</html>
