<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log-in</title>
  </head>
  <body>
    <main>
      <h2>Create an account here!</h2>

      <form action="" method="post">
        <label for="fname">First Name:</label>
        <input type="text" name="fname" id="fname" required />

        <label for="lname">Last name:</label>
        <input type="text" name="lname" id="lname" required />

        <label for="email">Username:</label>
        <input type="email" name="email" id="email" required />

        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />

        <label for="cpassword">Confirm Password:</label>
        <input type="password" name="cpassword" id="cpassword" required />

        <button type="submit">Log-in</button>
      </form>
    </main>
  </body>
</html>
